<!DOCTYPE html>
<meta charset="UTF-8">


@{if (ViewBag.Error != "")
    {
        <div class="text-center text-danger">
            @ViewBag.Error
            <hr />
        </div>
    }
}
@if (ViewBag.UltimoViaje != null)
{


    <div class="container-fluid " style="padding:1%">


        <!-- Content Row -->
        <div class="col-md-12">

            <div class="row">

                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h3 font-weight-bold text-primary text-uppercase mb-1">
                                        Promedio de Tiempo en Creación y Asignación del Viaje
                                    </div>
                                    <div class="h4 mb-0 font-weight-bold text-gray-800">@ViewBag.PromedioTiempo Minutos</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clock-o fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h3 font-weight-bold text-success text-uppercase mb-1">
                                        Ventas Totales por Viajes Finalizados
                                    </div>
                                    <div class="h4 mb-0 font-weight-bold text-gray-800">@ViewBag.VentasTotales.ToString("C2")</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <!-- Earnings (Monthly) Card Example -->
                <!-- Earnings (Monthly) Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-info shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h3 font-weight-bold text-info text-uppercase mb-1">
                                        Viajes Creados Finalizados
                                    </div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <div class="h4 mb-0 mr-3 font-weight-bold text-gray-800">@ViewBag.PorcentajeViajesConcretados %</div>
                                        </div>
                                        <div class="col">
                                            <div class="progress progress-sm mr-2">
                                                <div class="progress-bar bg-info" role="progressbar" style="width:@ViewBag.PorcentajeViajesConcretados%" aria-valuenow="@ViewBag.PorcentajeViajesConcretados" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pending Requests Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-warning shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="h3 font-weight-bold text-warning text-uppercase mb-1">
                                        Viajes Pendientes de Finalizar
                                    </div>
                                    <div class="h4 mb-0 font-weight-bold text-gray-800">@ViewBag.ViajesPendientesDeFinalizar</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-comments fa-2x text-gray-300"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">

                    <!-- Project Card Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h3 class="m-0 h3 font-weight-bold text-primary">Datos del Último Viaje</h3>
                        </div>
                        <hr />
                        <div class="card-body">
                            <h4 class="h4 font-weight-bold">
                                Viaje Código: @ViewBag.UltimoViaje.CodViaje
                                <br />
                                <br />
                                Descripción: @ViewBag.UltimoViaje.Descripcion
                                <br />
                                <br />
                                Fecha Creación: @ViewBag.UltimoViaje.FechaIng
                                <br />
                                <br />
                                Orgien: @ViewBag.UltimoViaje.CodDepartamentoOrigen - @ViewBag.UltimoViaje.CodMunicipioOrigen
                                <br />
                                <br />
                                Destino: @ViewBag.UltimoViaje.CodDepartamentoDestino - @ViewBag.UltimoViaje.CodMunicipioDestino
                                <br />
                                <br />
                                Cotizado: @ViewBag.UltimoViaje.ValorCotizado.ToString("C2")
                                <br />
                                <br />
                                Km: @ViewBag.UltimoViaje.Kilometros
              

                                @if (ViewBag.UltimoViaje.Estado == "IN")
                                {
                                    <br />

                                    <span class="float-right">30% Viaje Creado, en espera de iniciar</span>

                                }
                                @if (ViewBag.UltimoViaje.Estado == "EP")
                                {
                                    <br />

                                    <span class="float-right">70% Viaje en Proceso</span>

                                }
                                @if (ViewBag.UltimoViaje.Estado == "FN")
                                {
                                    <br />
                                   

                                    <span class="float-right">100% Viaje Finalizado</span>

                                }


                            </h4>
                            <br />

                            <div class="progress mb-4">
                                @if (ViewBag.UltimoViaje.Estado == "IN")
                                {
                                    <div class="progress-bar bg-green" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>


                                }
                                @if (ViewBag.UltimoViaje.Estado == "EP")
                                {
                                    <div class="progress-bar bg-yellow" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>


                                }
                                @if (ViewBag.UltimoViaje.Estado == "FN")
                                {
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>


                                }

                            </div>


                        </div>
                    </div>
                </div>


                <div class=" col-md-6 ">

                    <div class=" col-md-12 ">
                        <div class="row">
                            <div class="col-lg-12 mb-12">
                                <div class="card bg-primary text-white ">
                                    <div class="h3 card-body">
                                        Viajes Totales Creados: <br /> @ViewBag.NumViajesCreados


                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 mb-12">
                                <div class="card bg-success text-white ">
                                    <div class="h3 card-body">
                                        Promedio de Satisfacción del Área encargada de la Asignación: @ViewBag.PromedioSatisfaccion / 100
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">


                            <div class="col-lg-6 mb-6">

                                <div class="card bg-gray-dark text-white ">
                                    <div class="h3 card-body">
                                        Cantidad de Vehículos: @ViewBag.NumVehiculos
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-6">

                                <div class="card bg-pink-dark text-white ">
                                    <div class="h3 card-body">
                                        Porcentaje Vehículos Ocupados: @ViewBag.PorcentajeVehiculosOcupados %
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-6 mb-6">


                                <div class="card bg-info-dark text-white ">
                                    <div class="h3 card-body">
                                        Cantidad de Conductores: <br /> @ViewBag.NumConductores

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 mb-6">

                                <div class="card bg-yellow-dark text-white ">
                                    <div class="h3 card-body">
                                        Porcentaje Conductores Ocupados: @ViewBag.PorcentajeConductoresOcupados %


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
}

@section scripts
{

}
