@model IEnumerable<DynamicForecast.Areas.Certificado.Models.DT_Certificado>


<div class="content-heading">
    Certificados
    <div class="ml-auto">
        <a class="btn btn-primary" href="#" onclick="showInPopup('@Url.Action("CrearCertificado", "Certificado", Context.Request.Scheme)', 'Nuevo Certificado')">
            Nuevo Certificado &nbsp;<i class="fa fa-file-alt " title="Nuevo Certificado"></i>
        </a>
    </div>
</div>
@if (@ViewBag.CertificadoCreado)
{
    <div class="card-body">
        <div class="card border-info mb-12 text-center" >
            <div class="card-body text-info">
                <h4 class="card-title">CERTIFICADO CREADO CON ÉXITO </h4>

            </div>
        </div>
    </div>
}
@if (@ViewBag.CertificadoEliminado)
{
    <div class="card border-danger text-center" >
        <div class="card-header text-center">
            <h4 class="card-title">CERTIFICADO ELIMINADO CON ÉXITO </h4>

        </div>
    </div>
}
@if (@ViewBag.Error != "")
{
    <div class="card-body bg-transparent border-danger">
        <div class="card border-info mb-12 text-center" >
            <div class="card-body text">
                <h4 class="card-title">ERROR: <b> [ @ViewBag.Error ] </b> </h4>
            </div>
        </div>
    </div>
}
<div class="card card-default">
    <div class="form-group col-md-12">
        <br />
        <h4 class="text-bold text-center">Certificados Activos en el Sistema</h4>
        <div class="container-fluid">
            <div class="card card-default">
                <div class="card-body">
                    @{if (Model.First() != null)
                        {

                            <table class="table table-striped my-4 w-100 table-responsive-sm table-bordered" id="datatable22">
                                <thead>
                                    <tr>
                                        <th class="text-center"> Eliminar Certificado</th>
                                        @*<th class="text-center"> Agregarle Certificado</th>*@

                                        <th class="text-center">
                                            Id Certificado
                                        </th>
                                        <th class="text-center">
                                            Código
                                        </th>
                                        <th class="text-center">
                                            Nombre
                                        </th>
                                        <th class="text-center">
                                            Tipo
                                        </th>
                                        <th class="text-center">
                                            Descripción
                                        </th>
                                        <th class="text-center">
                                            Fecha Ingreso
                                        </th>
                                        <th class="text-center">
                                            Fecha Modificación
                                        </th>
                                        <th class="text-center">
                                            Estado
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        int CertificadoId = item.CertificadoId;
                                        <tr>
                                            <td class="text-center align-middle">
                                                <i title="Eliminar Vehículo">
                                                    @Html.ActionLink("", "EliminarCertificado", new { CertificadoId = CertificadoId }, new { @class = "fa fa-trash-alt" })
                                                </i>
                                            </td>
                                            @*<td class="text-center align-middle">
                                                    <a class="btn btn-primary" href="#" onclick="showInPopup('@Url.Action("AgregarCertificadoAlCertificado", "Certificado", new { CertificadoId = CertificadoId }, Context.Request.Scheme)', 'Agregarle Certificado')">
                                                        <i class="fa fa-file-alt " title="Agregarle Certificado"></i>
                                                    </a>
                                                </td>*@
                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => item.CertificadoId)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => item.CodCertificado)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => item.NombreCertificado)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayFor(modelItem => item.TipoCertificado)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayTextFor(modelItem => item.DescripcionCertificado)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayTextFor(modelItem => item.FechaIng)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayTextFor(modelItem => item.FechaMod)
                                            </td>
                                            <td class="text-center">
                                                @Html.DisplayTextFor(modelItem => item.Estado)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>


                        }
                        else
                        {

                            <div class="card-body">
                                <div class="card border-info mb-12 text-center" >
                                    <div class="card-body text-info">
                                        <h4 class="card-title">No se han registrado Certificados en el momento </h4>

                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{

}
