@model DynamicForecast.Areas.Viaje.Models.AP_Viaje
<div class="row">
    <div class="col-md-12">
        <form asp-action="EditarViaje" method="post" enctype="multipart/form-data">

            @{
                if (ViewBag.Error != "")
                {
                    <div class="text-center text-danger">
                        @ViewBag.Error
                        <hr />
                    </div>
                }
            }
            <div class="text-bold text-center h4">Editar el Viaje CÓDIGO: @Model.CodViaje - ID: @Model.ViajeId </div>
            <div class=" text-center h5">Descripción: @Model.Descripcion </div>
            <br />
            <input asp-for="EmpresaId" class="d-none" value="@Model.EmpresaId" />
            <input asp-for="ViajeId" class="d-none" value="@Model.ViajeId" />
            <input asp-for="UsuarioId" class="d-none" value="@Model.UsuarioId" />
            <input asp-for="TerceroId" class="d-none" value="@Model.TerceroId" />
            <input asp-for="CodViaje" class="d-none" value="@Model.CodViaje" />
            <input asp-for="Descripcion" class="d-none" value="@Model.Descripcion" />
            <input asp-for="FechaIng" class="d-none" value="@Model.FechaIng" />
            <input asp-for="FechaMod" class="d-none" value="@Model.FechaMod" />
            <input asp-for="Estado" class="d-none" value="@Model.Estado" />
            <hr />
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="control-label"><b>Código del Viaje: </b>@Model.CodViaje</label>
                </div>

                <div class="form-group col-md-4">
                    <label class="control-label"><b>Descripcion: </b>@Model.Descripcion</label>

                </div>
                <div class="form-group col-md-4">
                    <label class="control-label"><b>Tercero que Solicita el Viaje: </b> @Model.CT_Tercero.NombreTer - CC/NIT; @Model.CT_Tercero.NumeroNit </label>


                </div>

            </div>
            <hr />

            <div class="form-row">

                <div class="form-group col-md-4">
                    <label class="control-label">Promedio KM a Recorrer (Ida) | @Model.Kilometros</label>
                    <input asp-for="Kilometros" placeholder="@Model.Kilometros" value="@Model.Kilometros" maxlength="59" class="form-control form-control-sm" required />
                    <span asp-validation-for="Kilometros" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Peso del Contenido del Viaje | @Model.Contenido</label>
                    <input asp-for="Contenido" maxlength="59" value="@Model.Contenido" placeholder="@Model.Contenido" class="form-control form-control-sm" required />
                    <span asp-validation-for="Contenido" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Volumen del Contenido del Viaje</label>
                    <input asp-for="Volumen" maxlength="59" value="@Model.Volumen" placeholder="@Model.Volumen" class="form-control form-control-sm" required />
                    <span asp-validation-for="Volumen" class="text-danger"></span>
                </div>


            </div>
            <div class="form-row">

                <div class="form-group col-md-4">
                    <label class="control-label">Fecha de Estimada del Viaje | @Model.FechaServicio  </label>
                    <div class="input-group date" id="FechaServicio_" data-target-input="nearest">
                        <input asp-for="FechaServicio" class="form-control form-control-sm datetimepicker-input" value="@Model.FechaServicio" type="text" required />
                        <div class="input-group-append" data-target="#FechaServicio_" data-toggle="datetimepicker">
                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                        </div>
                        <span asp-validation-for="FechaServicio" class="text-danger"></span>

                    </div>
                </div>

                <div class="form-group col-md-4">
                    <label class="control-label">Valor Cotizado (COP) | @Model.ValorCotizado.ToString("C2")</label>
                    <input style="font-size:18px" type="text" min="0" placeholder="@Model.ValorCotizado.ToString("C2")" value="@Model.ValorCotizado" onkeyup="formatoMoneda(this, 'valorNuevoCotizado' );" class="form-control form-control-sm text-center w-100 m-auto" required>
                    <input class="form-control form-control-sm" value="@Model.ValorCotizado" asp-for="ValorCotizado" id="valorNuevoCotizado" hidden />
                    <span asp-validation-for="ValorCotizado" class="text-danger"></span>

                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Operación de Transporte</label>
                    <select id="selecViajes" asp-for="CodOperacionTransporte" class="form-control form-control-sm" required>
                        <option selected disabled value="@Model.CodOperacionTransporte">@Model.CodOperacionTransporte</option>
                        <option value="G">G - General</option>
                        <option value="V">V - Consolidadores</option>
                        <option value="P">P - Paqueteo</option>
                        <option value="Y">Y - Contenedores</option>
                        <option value="W">W - Viaje Vació</option>
                        <option value="D">D - Varios Viaje Dia</option>
                    </select>
                    <span asp-validation-for="CodOperacionTransporte" class="text-danger"></span>

                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="control-label">Municipio de Origen</label>
                    <select id="selecViajes" asp-for="CodMunicipioOrigen" class="form-control form-control-sm" required>
                        <option selected disabled value="@Model.CodMunicipioOrigen"> @Model.CodMunicipioOrigen</option>
                        <option value="Bogotá">Bogotá</option>
                        <option value="Cartagena">Cartagena</option>
                        <option value="Buenaventura">Buenaventura</option>
                        <option value="Barranquilla">Barranquilla</option>
                        <option value="Medellin">Medellin</option>
                        <option value="Yumbo Vall">Yumbo Valle</option>
                        <option value="Cali Valle">Cali Valle</option>
                        <option value="Funza Cundinamarca">Funza Cundinamarca</option>
                        <option value="Itagui Tocancipá">Itagui Tocancipá</option>
                    </select>
                    <span asp-validation-for="CodMunicipioOrigen" class="text-danger"></span>

                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Municipio de Destino</label>
                    <select id="selecViajes" asp-for="CodMunicipioDestino" class="form-control form-control-sm" required>
                        <option selected disabled value="@Model.CodMunicipioDestino">@Model.CodMunicipioDestino</option>
                        <option value="Bogotá">Bogotá</option>
                        <option value="Cartagena">Cartagena</option>
                        <option value="Buenaventura">Buenaventura</option>
                        <option value="Barranquilla">Barranquilla</option>
                        <option value="Medellin">Medellin</option>
                        <option value="Yumbo Vall">Yumbo Valle</option>
                        <option value="Cali Valle">Cali Valle</option>
                        <option value="Funza Cundinamarca">Funza Cundinamarca</option>
                        <option value="Itagui Tocancipá">Itagui Tocancipá</option>
                    </select>
                    <span asp-validation-for="CodMunicipioDestino" class="text-danger"></span>

                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Departamento de Origen</label>
                    <select id="selecViajes" asp-for="CodDepartamentoOrigen" class="form-control form-control-sm" required>
                        <option selected disabled value="@Model.CodDepartamentoOrigen">@Model.CodDepartamentoOrigen</option>
                        <option value="Valle del Cauca">Valle del Cauca</option>
                        <option value="Antioquia">Antioquia</option>
                        <option value="Cundinamarca">Cundinamarca</option>
                        <option value="Bogotá DC">Bogotá DC</option>
                        <option value="Atlántico">Atlántico</option>
                        <option value="Bolívar">Bolívar</option>
                        <option value="Santander">Santander</option>
                        <option value="Meta">Meta</option>
                        <option value="Risaralda">Risaralda</option>
                        <option value="Boyacá">Boyacá</option>

                    </select>
                    <span asp-validation-for="CodDepartamentoOrigen" class="text-danger"></span>

                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="control-label">Departamento de Destino</label>
                    <select id="selecViajes" asp-for="CodDepartamentoDestino" class="form-control form-control-sm" required>
                        <option selected disabled value="@Model.CodDepartamentoDestino">@Model.CodDepartamentoDestino</option>
                        <option value="Valle del Cauca">Valle del Cauca</option>
                        <option value="Antioquia">Antioquia</option>
                        <option value="Cundinamarca">Cundinamarca</option>
                        <option value="Bogotá DC">Bogotá DC</option>
                        <option value="Atlántico">Atlántico</option>
                        <option value="Bolívar">Bolívar</option>
                        <option value="Santander">Santander</option>
                        <option value="Meta">Meta</option>
                        <option value="Risaralda">Risaralda</option>
                        <option value="Boyacá">Boyacá</option>
                    </select>
                    <span asp-validation-for="CodDepartamentoDestino" class="text-danger"></span>

                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Tipo Mercancía</label>
                    <select id="selecViajes" asp-for="CodMercancia" class="form-control form-control-sm" required>
                        <option selected disabled value="@Model.CodMercancia">@Model.CodMercancia</option>
                        <option value="009980">009980 - PRODUCTOS VARIOS</option>
                        <option value="009880">009880 - LÍQUIDOS</option>
                        <option value="009990">009990 - LÍQUIDOS INFLAMABLES</option>
                        <option value="003816">003816 - CONTENEDOR VACIO</option>
                        <option value="004415">004415 - CEMENTOS,  MORTEROS,  HORMIGONES Y PREPARACIONES SIMILARES,  REFRACTARIOS,  EX</option>
                        <option value="001006">001006 - CAJONES,  CAJAS,  JAULAS,  TAMBORES Y ENVASES SIMILARES,  DE MADERA, CARRETES</option>
                        <option value="003105">003105 - ARROZ</option>
                        <option value="009800">009800 - ABONOS MINERALES O QUIMICOS,  CON DOS O TRES DE LOS ELEMENTOS FERTILIZANTES NI</option>
                    </select>
                    <span asp-validation-for="CodMercancia" class="text-danger"></span>

                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Naturaleza de la Carga</label>
                    <select id="selecViajes" asp-for="NaturalezaCarga" class="form-control form-control-sm" required>
                        <option selected disabled value="@Model.NaturalezaCarga">@Model.NaturalezaCarga</option>
                        <option value="CAR-NORMAL">Carga Normal</option>
                        <option value="CAR-PELGRO">Carga Peligrosa</option>
                        <option value="CAR-REFRI">Refrigerada</option>
                        <option value="CAR-DES_PELI">Desechos Peligrosos</option>
                        <option value="CAR-EXTR_DIM">Carga Extradimensionada</option>
                        <option value="COD-EXTR_PES">Carga Extrapesada</option>
                    </select>
                    <span asp-validation-for="NaturalezaCarga" class="text-danger"></span>

                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="control-label">Cantidad de Ruta Primaria | @Model.PorcentajeRutaPrimaria %</label>
                    <input asp-for="@Model.PorcentajeRutaPrimaria" placeholder="@Model.PorcentajeRutaPrimaria" value="@Model.PorcentajeRutaPrimaria" type="range" min="0" max="100" step="10" class="form-control form-control-sm range" required />
                    <span asp-validation-for="PorcentajeRutaPrimaria" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Cantidad de Ruta Secundaria | @Model.PorcentajeRutaSecundaria %</label>
                    <input asp-for="PorcentajeRutaSecundaria" type="range" placeholder="@Model.PorcentajeRutaSecundaria" value="@Model.PorcentajeRutaSecundaria" min="0" max="100" step="10" class="form-control form-control-sm range" required />
                    <span asp-validation-for="PorcentajeRutaSecundaria" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Cantidad de Ruta Terciaria | @Model.PorcentajeRutaTerciaria %</label>
                    <input asp-for="PorcentajeRutaTerciaria" type="range" placeholder="@Model.PorcentajeRutaTerciaria" value="@Model.PorcentajeRutaTerciaria" min="0" max="100" step="10" class="form-control form-control-sm range" required />
                    <span asp-validation-for="PorcentajeRutaTerciaria" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="control-label">Número de Peajes del Trayecto | @Model.NumeroPeajes</label>
                    <input asp-for="NumeroPeajes" class="form-control form-control-sm number" placeholder="@Model.NumeroPeajes" value="@Model.NumeroPeajes" type="number" min="0" max="200" required />
                    <span asp-validation-for="NumeroPeajes" class="text-danger"></span>
                </div>


                <div class="form-group col-md-4">
                    <label class="control-label">Valor Total Peajes (COP) | @Model.ValorCotizado.ToString("C2")</label>
                    <input style="font-size:18px" type="text" value="@Model.ValorCotizado" min="0" onkeyup="formatoMoneda(this, 'valorNuevoPeajes');" placeholder="@Model.ValorCotizado" class="form-control form-control-sm text-center w-100 m-auto" required>
                    <input class="form-control form-control-sm" asp-for="ValorCotizado" placeholder="@Model.ValorCotizado" value="@Model.ValorCotizado" id="valorNuevoPeajes" hidden />
                    <span asp-validation-for="ValorCotizado" class="text-danger"></span>

                </div>
            </div>

            <hr />
            <div class="form-group text-right">
                <button type="submit" class="btn btn-primary"><t id="txtBtnCrear">Editar Viaje</t></button>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {



        jQuery('#FechaServicio_').datetimepicker({

            format: 'DD/MM/YYYY HH:mm',
            icons: {
                time: 'far fa-clock',
                date: 'far fa-calendar',
                close: 'far fa-times'
            },
            closeOnSelect: true,

            orientation: 'bottom',
            locale: 'es'
        });

    });

    function quita_comas(numero) {
        var cadenas = numero.split(".");
        cadena_sin_comas = "";
        for (i = 0; i < cadenas.length; i++) {
            cadena_sin_comas = cadena_sin_comas + cadenas[i];
        }
        return cadena_sin_comas;
    }
    function separador(obj) {
        var separador = obj;
        separador.addEventListener('keyup', (e) => {
            var entrada = e.target.value.split('.').join('');
            entrada = entrada.split('').reverse();
            var salida = [];
            var aux = '';
            var paginador = Math.ceil(entrada.length / 3);
            for (let i = 0; i < paginador; i++) {
                for (let j = 0; j < 3; j++) {
                    "123 4"
                    if (entrada[j + (i * 3)] != undefined) {
                        aux += entrada[j + (i * 3)];
                    }
                }
                salida.push(aux);
                aux = '';
                e.target.value = salida.join('.').split("").reverse().join('');
            }
        }, false);
    }
    function formatoMoneda(obj, valorInput) {
        separador(obj);
        var val2 = obj.value;
        var val22 = quita_comas(val2);
        var val4 = parseFloat(val22);
        document.getElementById(valorInput).value = val4;
    }
</script>