@model DynamicForecast.Areas.Vehiculo.Models.DT_CertificadoVehiculo
<div class="card card-default">
    <div class="form-group col-md-12">
        <br />
        <h4 class="text-bold text-center">Agregar Certificado del Vehículo @ViewBag.datosVehiculo.Modelo / @ViewBag.datosVehiculo.MarcaEmpresa - Placas:  @ViewBag.datosVehiculo.CodPlacas</h4>

        <div class="container-fluid">
            <div class="card card-default">
                <div class="card-body">
                    <div class="form-group col-md-6">
                        <label class="control-label">Certificados</label>
                        <select asp-items="@(new SelectList( "id", "text" ))" id="selecCertificados" class="form-control form-control-sm"><option selected disabled value="">Seleccione el Certificado</option></select>

                    </div>
                    <div class="form-group col-md-6">
                        <div class="form-group text-left">
                            <button id="btn-sendForm" onclick="agregarCertificadoAlVehiculo();" value="Agregar Certificado al Vehiculo" class="btn btn-primary">Agregar Certificado al Vehiculo</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="secListaCertificadosVehiculo" class="card card-default">


</div>
<input id="VehiculoIdSelec" class="d-none" value="@ViewBag.datosVehiculo.VehiculoId" />
<script>
$(document).ready(function () {

    $('#selecCertificados').select2({
        allowClear: true,
        placeholder: 'Seleccione el Certificado',
        dropdownParent: $('#form-modal .modal-content'),
        width: '100%',
        closeOnSelect: true,
        language: {
            noResults: function () {
                return 'No se encontraron resultados';
            },
            searching: function () {
                return 'Buscando…';
            },
            inputTooShort: function (args) {
                var remainingChars = args.minimum - args.input.length;
                var message = 'Por favor, introduzca ' + remainingChars + ' car';

                if (remainingChars == 1) {
                    message += 'ácter';
                } else {
                    message += 'acteres';
                }

                return message;
            },
            errorLoading: function () {
                return 'No se pudieron cargar los resultados';
            },
            loadingMore: function () {
                return 'Cargando más resultados…';
            },
        },
        focus: true,
        minimumInputLength: 2,
        ajax: {
            dataType: 'json',
            url: '@Url.Action("GetCertificadosFind", "Vehiculo")',
            data: function (params) {
                return {
                    q: params.term
                };
            },
        },
    });

    var CertificadoId = 0; //$("#selecCertificados").val();
    var VehiculoId = $("#VehiculoIdSelec").val();

    $('#secListaCertificadosVehiculo').load('AgregarCertificadoAlVehiculoResult', { VehiculoId, CertificadoId });



});


    function agregarCertificadoAlVehiculo() {

        var CertificadoId = $("#selecCertificados").val();
        var VehiculoId = $("#VehiculoIdSelec").val();

        if (CertificadoId > 0 && VehiculoId > 0) {

            $('#secListaCertificadosVehiculo').load('AgregarCertificadoAlVehiculoResult', { VehiculoId, CertificadoId });

        }
        else {

            Swal.fire({
                icon: 'error',
                title: 'Error al Agregar el Certificado al Vehiculo ',
                text: 'Por favor confirme haber seleccionado un Certificado',

            });
        }

    }

</script>
